/* =========================
   CONFIGURACIÓN GENERAL
========================= */

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Hepta Slab", serif;
    color: #32024F;
}


/* =========================
   PORTADA
========================= */

.portada {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}


/* =========================
   CATEGORÍAS
========================= */

.categorias {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

/* =========================
   TABLA
========================= */

table {
    width: 100%;
    border-spacing: 5px;
    table-layout: fixed;
}


/* =========================
   BOTONES / CATEGORÍAS
========================= */

.categoria {
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

    text-decoration: none;

    font-size: 22px;
    font-weight: bold;

    transition: 0.2s;
}

.categoria:hover {
    transform: translateY(-5px);
}


/* =========================
   DESCRIPCIONES
========================= */

td {
    vertical-align: top;
    line-height: 1.5;
    font-size: 15px;
}

.video {
    color: #32024F;
}

.contenido {
    color: #9f14f5;
}

.voz {
    color: #32024F;
}

.multimedia {
    color: #9f14f5;
}

.sobre-mi {
    color: #32024F;
}

/* =========================
   BOTONES DE ARRIBA
========================= */
.botones {}

/* =========================
   BOTONES DE VIDEOS
========================= */

.video-link img {
    display: block;
    transition: 0.2s;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

.video-link img:hover {
    transform: scale(1.03);
    opacity: 0.85;
}